<a href="https://colab.research.google.com/github/SebastianCanizales/SebastianCan/blob/main/Ej_Python_1842108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1**

In [8]:
#Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.
a = input("Ingresa tu Nombre")
b = 1842108
print (a,b)

Ingresa tu NombreSebastian Canizales Melchor
Sebastian Canizales Melchor 1842108

**Ejercicio 2**

In [50]:
#Pidiendo el input del usuario pide dos números y crea una pequeña calculadora 
#con los operadores básicos de suma, resta, multiplicación, división, y exponente.
#Utilizando el loop de while
a = int(input("Introduce un numero "))
b = int(input("Introduce otro numero "))
i = 0
while i == 0:
  oper = 0
  oper = int(input("1:sum,2:res,3:mult,4:div,5:exp"))
  if oper == 1:
    print(a+b)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 2:
    print (a-b)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 3:
    print (a*b)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 4:
    if b == 0:
      print( "no se puede realizar")
    else:
      print (a/b)
      i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 5:
    print(a**b)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))

Introduce un numero 5
Introduce otro numero 6
1:sum,2:res,3:mult,4:div,5:exp1
11
desea usar la calculadora otra vez 1:no 0: si 1

**Ejercicio 3**

In [33]:
#Con loop while o for, realiza una lista de 10 numeros multiplos de 3, 
#y después realiza una función de loop que sume todos los números dentro del arreglo.
a = []
i = 0
sum = 0
while i < 10:
  b= int(input("ingrese un numero"))
  if b%3 == 0:
   a.append(b) 
  else:
    a.append(b*3)
  sum = a[i]+ sum
  i=i+1
print(a)
print(sum)

ingrese un numero1
ingrese un numero2
ingrese un numero3
ingrese un numero4
ingrese un numero5
ingrese un numero6
ingrese un numero7
ingrese un numero8
ingrese un numero9
ingrese un numero10
[3, 6, 3, 12, 15, 6, 21, 24, 9, 30]
129

**Ejercicio 4**

In [5]:
#Con una función de if else, revisar si un número es par o es impar.
a = int(input("Introduce un numero: "))
if a%2 == 0:
  print("es par ")
else: 
  print("es impar")

Introduce un numero: 6
es par

In [51]:
#Con una función de if else, revisar si un número es primo o no
a = int(input("Introduce un numero "))
cont= 0
if a> 1:
  for i in range(2,a):
   resto = a%i
   if resto == 0:
      cont +=1
      if cont == 0:
        print("es numero primo ")
      else:
          print("no es un numero primo ")
else:
    print("no es un numero primo ")

Introduce un numero 4
no es un numero primo

**Ejercicio 5**

In [19]:
#Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, 
#resta, multiplicación, división, y exponente.
#Funciones matemáticas en la librería de math en python
import math
def suma(n1,n2):
  sum= [n1,n2]
  print(math.fsum(sum))
def resta(n1,n2):
  res = n1-n2
  print(res)
def mult(n1,n2):
  mul = n1*n2
  print(mul)
def divi(n1,n2):
  if n2 == 0:
    print("no se puede hacer la division")
  else:
    div = n1/n2
    print [div]
def expo(n1,n2):
  print(math.pow(n1,n2))
i = 0
while i == 0:
  n1 = int(input("ingrese un numero"))
  n2 = int(input("ingrese un numero"))
  oper = 0
  oper = int(input("1:sum,2:res,3:mult,4:div,5:exp"))
  print("la opcion que elegi es {}".format(oper))
  if oper == 1:
    suma(n1,n2)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 2:
    resta(n1,n2)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 3:
    mult(n1,n2)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 4:
    divi(n1,n2)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))
  if oper == 5:
    expo(n1,n2)
    i = int(input("desea usar la calculadora otra vez 1:no 0: si "))

ingrese un numero5
ingrese un numero6
1:sum,2:res,3:mult,4:div,5:exp1
la opcion que elegi es 1
11.0
desea usar la calculadora otra vez 1:no 0: si 0
ingrese un numero1
ingrese un numero2
1:sum,2:res,3:mult,4:div,5:exp5
la opcion que elegi es 5
1.0
desea usar la calculadora otra vez 1:no 0: si 1

**Tuplas**

In [68]:
#Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
a = 4
b=4.5
c= 3j
d = True
print(format(a),type(a))
print(format(b),type(b))
print(format(c),type(c))
print(format(d),type(d))

4 <class 'int'>
4.5 <class 'float'>
3j <class 'complex'>
True <class 'bool'>

In [78]:
#Crear una tupla con valores enteros imprimir el primer y ultimo valor.
t1=(1,2,3,4,5,6)
print("el primer valor es:",t1[0])
print("el ultimo valor es:",t1[-1])

el primer valor es: 1
el ultimo valor es: 6

In [8]:
#Añadir 3 valores de string a la tupla.
t1 = (1,2,3)
print(t1)
t1 = t1.__add__((1,2,3))
print("nueva tupla es ",t1)

(1, 2, 3)
nueva tupla es  (1, 2, 3, 1, 2, 3)

In [12]:
#Verificar si una variable existe dentro de la tupla
t1 = (1,2,3,4)
1 in t1

True

**Listas**

In [25]:
#Crear una lista con 40 elementos aleatorios enteros.
import random 
lista = []
lp = []
li = []
for i in range(40):
  ent = random.randint(1,10000)
  lista.append(ent)
print(lista)
def LISTA(lista):
  for i in range(len(lista)):
    if lista[i]%2==0:
      lp.append(lista[i]) 
    else:
        li.append(lista[i])
LISTA(lista)
lli = len(li)
llp = len(lp)
print(" La longitud de los numeros impares es %d",lli)
print(" La longitud de los numeros impares es %d",llp)
li.sort()
print("la lista impar de menor a mayor es ",li)
lp.sort(reverse= True)
print("la lista mayor a menor es ", lp)

[4030, 3420, 4240, 4935, 5942, 1752, 5481, 3495, 9363, 8115, 9001, 6891, 9857, 717, 6935, 3882, 4497, 703, 8358, 4878, 4989, 8557, 3088, 6795, 1726, 7007, 3466, 4449, 6763, 9225, 2708, 5647, 1291, 9563, 5608, 1099, 4972, 5717, 7879, 1407]
 La longitud de los numeros impares es %d 26
 La longitud de los numeros impares es %d 14
la lista impar de menor a mayor es  [703, 717, 1099, 1291, 1407, 3495, 4449, 4497, 4935, 4989, 5481, 5647, 5717, 6763, 6795, 6891, 6935, 7007, 7879, 8115, 8557, 9001, 9225, 9363, 9563, 9857]
la lista mayor a menor es  [8358, 5942, 5608, 4972, 4878, 4240, 4030, 3882, 3466, 3420, 3088, 2708, 1752, 1726]

**Diccionario**

In [17]:
#Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
dic1 = {'Sebastian': 20, 'Ana':20,'Alberto':21,'Grecia':19,'Dafne':19,'Emilio':21}
print(dic1)

{'Sebastian': 20, 'Ana': 20, 'Alberto': 21, 'Grecia': 19, 'Dafne': 19, 'Emilio': 21}

In [13]:
#Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
dic1 = {'Sebastian': 20, 'Ana':20,'Alberto':21,'Grecia':19,'Dafne':19,'Emilio':21}
dic1 = sorted(dic1.values())
print(dic1)

[19, 19, 20, 20, 21, 21]

In [18]:
#Usando el diccionario y un loop, imprimir solo los nombres
dic1 = {'Sebastian': 20, 'Ana':20,'Alberto':21,'Grecia':19,'Dafne':19,'Emilio':21}
for i in dic1:
  print(i)

Sebastian
Ana
Alberto
Grecia
Dafne
Emilio

In [4]:
#Añadir dos personas nuevas a tu diccionario, incluyendo edad
dic1 = {'Sebastian': 20, 'Ana':20}
dic1['Alberto']= '21'
dic1['Diana']='20'
print(dic1)

{'Sebastian': 20, 'Ana': 20, 'Alberto': '21', 'Diana': '20'}

**Sets**

In [92]:
#Crea un set con 100 numeros aleatorios enteros del 1 al 25
import random
set2 = set (range(1,100))
a = 0
while a<1:
  b = str(random.randint(1,25))
  set2.add(b)
  a=a+1
set2

{1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 3,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 4,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 5,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 6,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 7,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 8,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 9,
 '9',
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [91]:
#Comprueba la longitud de tu set.
import random
set2 = set (range(1,100))
a = 0
while a<1:
  b = str(random.randint(1,25))
  set2.add(b)
  a=a+1
set2
len(set2)

100

In [118]:
#Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial
import random
set2 = set (range(1,100))
a = 0
while a<1:
  b = str(random.randint(1,25))
  set2.add(b)
  a=a+1
set2
set3 = set (range(1,5))
a = 0
while a<1:
  c = str(random.randint(1,10))
  set3.add(c)
  a=a+1
print(set3)
rep=[]
for i in range(5):
    if (set3[i] in set2)==True:
        rep.append(set3[i])

{1, 2, 3, 4, '6'}

TypeError: ignored